@model TakeHome.Models.FeedbackForm
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You</h2>
<fieldset>
    <div class="editor-label">
        <label>First Name: @Model.FirstName</label>
    </div>
    <div class="editor-label">
        <label>Last Name: @Model.LastName</label>
    </div>
    <div class="editor-label">
        <label>Email: @Model.Email</label>
    </div>
    <div class="editor-label">
        <label>Comments: @Model.Comments</label>
    </div>
</fieldset>
