@model TakeHome.Models.Error
<div>
    @* This view simply exists to showcase the error handling of the website. The accessed property will fail because no model is passed through to the view. *@
    @Model.ErrorTest
</div>
