@{
    ViewBag.Title = "Contact Us";
}
<h1>@ViewBag.Title</h1>
<div class="container">
    <div class="row">
        <p>
            Please us the following information to contact us. If you would prefer to provide feedback, you may do so using the form on the <a href="/Feedback"> feedback</a> page.
        </p>
    </div>
    <div class="row">
        <address class="col-xs-12 col-md-6">
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address class="col-xs-12 col-md-6">
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>